* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #F5F5F5;
}

body {
  background-color: #121212; 
  color: #E0E0E0; 
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; 
  padding-bottom: 50px; 
}

.navbar {
  background-color: #121212; 
}

.btn-close {
  background-color: #fff;
}

.navbar-brand {
  color: #E62B1E; 
  font-weight: bold;
}

.navbar-toggler {
  border-color: #E0E0E0; 
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg fill="%23E62B1E" viewBox="0 0 16 16" width="24" height="24"><path d="M0 3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3zm0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-1zm1 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-1z"/></svg>');
}

.offcanvas {
  background-color: #121212; 
  color: #E0E0E0; 
}

.offcanvas-title {
  color: #E62B1E; 
}

.nav-link {
  color: #E0E0E0;
}

.nav-link:hover {
  color: #E62B1E;
}

.card {
  background-color: #1F1F1F; 
  color: #E0E0E0; 
}

.card-header, .card-body, .card-footer {
  background-color: #1F1F1F;
}

.text-offwhite {
  color: #F5F5F5; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #E62B1E;
  color: #E0E0E0;
  padding: 16px 32px;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer {
    font-size: 14px;
  }
}

.not-available-page,
.sold-out-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.vip-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 16px;
}

.title {
  font-size: 24px; 
  margin-bottom: 24px; 
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  width: 100%;
}

.login-button {
  background-color: #E62B1E; 
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: #E62B1E;
  text-align: center;
  margin-top: 16px;
}

.admin-dashboard {
  padding: 16px;
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}

.description {
  margin-bottom: 24px;
}

.error-message {
  margin-bottom: 16px;
}

.settings-form {
  margin-bottom: 16px;
}

.form-row {
  margin-bottom: 16px;
}

.form-check {
  margin-bottom: 16px;
}

.submit-button {
  background-color: #E62B1E;
  border-color: #E62B1E;
  color: white;
}

.submit-button:hover {
  background-color: #a20116;
}

.form-input {
  background-color: #F5F5F5; 
  border: 1px solid #E0E0E0; 
  color: #121212; 
  border-radius: 4px;
  padding: 8px;
}

.form-select {
  background-color: #F5F5F5; 
  border: 1px solid #E0E0E0; 
  color: #121212; 
  border-radius: 4px;
  padding: 8px;
}

.form-file-input {
  background-color: #F5F5F5; 
  border: 1px solid #E0E0E0; 
  color: #121212;
  border-radius: 4px;
  padding: 8px;
}

.modal-footer {
  background-color: #E0E0E0; 
}

.payment-screenshot {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.submit-button,
.export-button {
  flex-grow: 1;
}

.export-button {
  background-color: #1F1F1F; 
  color: #F5F5F5; 
  border: 1px solid #E62B1E; 
  margin-bottom: 30%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.export-button:hover {
  background-color: #121212; 
  transform: translateY(-2px);
}

.export-button:active {
  background-color: #0D0D0D;
  transform: translateY(0);
}

.export-button:disabled {
  background-color: #aaa; 
  cursor: not-allowed;
}

.submit-button {
  background-color: #E62B1E; 
  color: #F5F5F5; 
  border: none;
  margin-bottom: 30%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  background-color: #C9231A;
  transform: translateY(-2px);
}

.submit-button:active {
  background-color: #B51E16;
  transform: translateY(0);
}

.submit-button:disabled {
  background-color: #aaa; 
  cursor: not-allowed;
}

.qrscanner-page {
  text-align: center;
  padding: 20px;
}

#html5qr-code-full-region {
  margin: 0 auto;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideOut {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-20px); opacity: 0; }
}

.qrscanner-page {
  position: relative;
}

.result-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 10;
  animation: fadeIn 1s;
}

.success {
  color: rgb(37, 180, 37);
  animation: slideIn 0.2s, fadeOut 0.2s 0.5s;
}

.failure {
  color: red;
  animation: slideIn 0.2s, fadeOut 0.2s 0.5s;
}

.warning{
  color: rgb(136, 136, 52);
  animation: slideIn 0.2s, fadeOut 0.2s 0.5s;
}

#html5qr-code-full-region {
  position: relative;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto; 
  border: 2px solid #E62B1E; 
  border-radius: 10px; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #121212; 
}

#html5qr-code-full-region video {
  width: 100%;
  height: auto;
}

#html5qr-code-full-region::before {
  content: 'Initializing...';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #E0E0E0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 5px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#html5qr-code-full-region.ready::before {
  display: none;
}